* {
  font-family: 'Press Start 2P', cursive;
  @import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);
  background-color: rgb(102, 212, 214);
}

body img {
  height: 40%;
  width: auto;
  padding-top: 60px;
}